@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5e16108c-fd30-46de-9bb8-0b4e1bbbc509/29d8d7d7-83cc-4b5f-aa9b-6fd4f68bfaa6/IN-en-20240205-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 644px;
    /* width: 100%; */
    
    position: relative;
    background-position: center center;
    /* background-size: max(1200px 100vw); */
    background-size: cover;
    background-repeat: no-repeat;
}
.main .box{
    height: 644px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.logo{
    height: 40px;
    padding: 25px;
}
nav{
    display: flex;
    max-width: 80vw;
    margin: auto;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 156px;
    position: relative;
    z-index: 10;
}
nav button{

    position: relative;
    z-index: 10;
}
.CONTENT{
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    height: 85%;
    /* height: calc(100% - 100px); */
    padding: 0 28px;
    justify-content: center;
    flex-direction: column ;
}
.first{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    z-index: 10;
}
.two{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 20px;
    
}
.three{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 18px;
    font-weight: lighter;
    position: relative;
    z-index: 10;
    padding: 20px;
    text-align: center;
    
    }
.mail{
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 0px;
    z-index: 10;
}
.sepration{
    height: 9px;
    background-color: rgb(71, 69, 69);
    position: relative;
    z-index: 20;
}

.btn_red1{
    padding: 6px 30px;
    font-weight:bold;
    font-size: large;
    color: white;
    margin-right: 15px;
    border: 1px solid 2px;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(2,12,22,0.7);
}
.btn_red2{
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 11px 22px;
    cursor: pointer;
    /* box-sizing: 15px;
    width: 85px;
    height: 35px; */
    border-radius: 5px;
}
.btn_red3{
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 15px;
    cursor: pointer;
    font-size:24px;
    height: 55px;
    padding: 14px 35px;
    border-radius: 5px;
}
.mail input{
    font-size:12px;
    padding: 10px 25px;
    border-radius: 5px;
    border: solid 2px;
    border-color: white;
}
.mail :nth-child(1){
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size:14px;
    padding: 14px 35px;
    border-radius: 5px;
}
.search{
    background-color: rgba(2,12,22,0.5);
    width: 350px;
    height: 25px;
}
.First{
    /* height:500px ; */
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white; justify-content: center;
    align-items: center;
}
.sec1img{
    position: relative;
}
.sec1img img{
    width: 555px;
    position: relative;
    bottom: -120px;
    left: 90px;
    z-index: 10;
}
.sec1img video{
    position: relative;
    top: -213px;
    left: 165px;
width: 400px;
}
.one{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;

}
.two1{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 21px;
    font-weight:100;
    text-align: center;
}
.sepration1{
    height: 9px;
    background-color: rgb(71, 69, 69);
    /* position: relative;
    z-index: 20; */
}
.one1{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;

}
.one2{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.one3{
    margin-bottom: 50px;
    font-family: 'Martel sans' ,sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.first .Second{
    max-width: 70vw;
    height: 90vw;
}
.sec2img{
    position: relative;
}
.sec2img img{
    width: 555px;
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
    bottom: 14px;
    left: -20px;
    z-index: 10;
}

.sec3img img{
    width: 555px;
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
    bottom: -60px;
    left: 30px;
    z-index: 10;
} 
.sec3img video{
    position: relative;
    top: -401px;
    left: 135px;
width: 335px;
}
.one4{
    font-family: 'Martel sans' ,sans-serif;
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
}
.two2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:100;
    text-align: center;
}
.mine img{
    width: 555px;
    margin-top: 70px;
    margin-bottom: 70px;
    /* position: relative; */
    bottom: 14px;
    left: -20px;
    z-index: 10;
}
.last{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    justify-items: center;
    display: inline;
    margin: auto;
    color: white; 
    align-items: center;
}
.Q1:hover{
    color: #5e5c5c;
}
.FAQ{
    
    background: black;
    color: white;
}
.FAQ h2{
    padding-top: 48px;
    color: white;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}
.Q1{
    transition: all 1s ease-out;
    display: flex;
    background-color: #2d2d2d;
    padding: 28px;
    justify-content: space-between;
    max-width: 70vw;
    margin: 14px auto;
    cursor: pointer;
}
.Q1 span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.lastcall{
    margin-bottom: 20px;
}
.lastcall .antim{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    padding-top: 38px;
    padding-bottom: 30px;
    justify-content: center;

}
.btn_red1 svg{
    height: 20px;
}
.Q1 svg{  
    
    color: white;
}
footer{
    height: 350px;
    color: white;
     max-width: 60vw;
    margin: auto;
    padding: 15px;

}
footer .fq{
    padding: 20px 0px;
    /* max-width: 60vw;
    margin: auto;
    text-align: center;
    color: white; */
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
.footer-item{
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 14px;
    gap: 22px;
    column-gap: 99px;
}
.footer-item a{
    color: white;
    font-size: 14px;
    gap: 22px;
    

}